#header{
    background-color: blueviolet
}
#header .colDiv {
    padding: 10px 0 10px 0;
}
.colDiv a {
    color: white;
    font-size: 17px;
}

.colDiv ul {
    padding: 0;
    margin: 0;
}
.colDiv ul li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}
.colDiv ul li a {
    text-decoration: none;
    font-size: 17px;
    color: white
}
.colDiv ul li a:hover{
    padding: 10px 5px 10px 5px;
    background-color: lightseagreen;
}
.App{
    text-align: center
}